html {}

#grad {
    height: 100%;
    background-color: white;
    background-image: linear-gradient(to bottom, #68764e, #ffffff);
}

#grad-rodvin {
    height: 100%;
    background-color: white;
    background-image: linear-gradient(to bottom, #902212, #ffffff);
}

#grad-hvidvin {
    height: 100%;
    background-color: white;
    background-image: linear-gradient(to bottom, #9db472, #ffffff);
}

#grad-rosevin {
    height: 100%;
    background-color: white;
    background-image: linear-gradient(to bottom, #ce6859, #ffffff);
}

body {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

/*Box-sizing skal gælde for alle elementer, hvorfor den sættes på * og ikke bare body */
* {
    box-sizing: border-box;
}

/*Har brugt navigationsbar fra Michelle Andreassen.
https://github.com/itaddiction/flexnav
 https://itaddiction.github.io/flexnav/
*/
/*Da vi bruger flexbox er det en god idé altid at sætte billeder til 100% width og så tilpasse den container rundt om billedet efterfølgende*/
img {
    width: 100%;
}

/*basket-icon*/
#icon {
    height: 40px;
    width: 40px;
}

/*seach-icon*/
#icon2 {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

header {
    background: white;
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 9999;
}

/*NAVIGATION - responsiv med flexbox*/
#logo-burger {
    display: flex;
    align-items: center;
    margin: 0 .5em;
}

#logo-burger a {
    margin-right: auto;
    width: 150px;
}

#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
}

#main-nav a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 1em;
    line-height: 3em;
}

#main-nav a:hover {
    color: grey;
}

.dropbtn {
    margin: 0 .5em;
    border: none;
    cursor: pointer;
    font-size: 1em;
    line-height: 3em;
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #90ca6c;
}

a {
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 64px;
    color: white;
    text-align: center;
}

h2 {
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 50px;
}

p {
    padding: 0 50px;
    margin-bottom: 10px;
}

#h2-2,
p2 {
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 1px;
    color: white;
}

ul {
    margin-left: 50px;
}

/*active class sættes på det link i menuen man befinder sig på, så farven ændres på menuen på den aktuelle side - den er ikke sat på noget endnu*/
.active {
    color: lightgrey;
}

/*Denne skjuler burgermenuens checkbox som aktiverer toggle funktionen*/
.hidden {
    display: none;
}

/* intro video*/
.intro-video {
    width: 100%;
    margin-top: 64px;
}


.flex-container-vin-forside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container-vin-forside > div {
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

#vin-billeder-forside {
    border-radius: 20px;
}

#vin-billeder-forside:hover {
    opacity: 0.5;
}

.flex-container-text1,
.flex-container-text2 {
    background: white;
    margin: 50px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}

#img-vinmagere-forside {
    display: none;
}

#img-smagkasser-forside {
    display: none;
}

.flex-container-soeren {
    display: flex;
    flex-direction: row;
    background: white;
    margin: 21px;
    padding-left: 100px;
    border-radius: 20px;
    text-align: left;
    z-index: 0;
}

#img-soeren {
    border-radius: 500px;
    max-width: 150px;
    z-index: 1;
    position: absolute;
    margin: -15px;
    margin-left: 5px;
}

#button-forside {
    background-color: #68764e;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#button {
    background-color: #68764e;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex-container-vin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container-vin > div {
    width: 300px;
    margin: 10px;
    font-size: 15px;
}

.flex-container-vine {
    background: white;
    margin: 50px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex-container-vin-information,
.flex-container-vin-information2 {
    display: flex;
    flex-wrap: wrap;
    background: white;
    text-align: left;
    margin: 20px;
    border-radius: 20px;
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#img-vine {
    border-radius: 20px;
    max-width: 300px;
    max-height: 700px;
}

#img-vine-information {
    max-width: 300px;
    max-height: 700px;
    border-radius: 20%;
}

#ned,
#op {
    background-color: #68764e;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.flex-container-mad {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.flex-container-retter {
    margin: 50px;
    padding: 5px;
}

#img-mad {
    border-radius: 20px;
    max-width: 300px;
    max-height: 700px;
}

#img-mad:hover {
    opacity: 0.5;
}

#antal {
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: -15px -32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex-container-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#footer-icon {
    width: 50px;
}

/*MEDIA QUERY MOBILE */

@media all and (max-width: 799px) {

    /*HEADER NAV*/
    header {
        display: block;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    /*label er selve burgerikonet*/
    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
        /*laver en hånd i stedet for en pil, når man kører hen over burgermenuen*/
    }

    /*Dette gør at burgermenuen folder sig ud, når man klikker på den - eller rettere sagt den checkboks som er skjult bag den*/
    #toggle:checked + #main-nav {
        display: block;
    }

    /*Den primære navigation skjules på den lille skærm*/
    #main-nav {
        display: none;
    }

    #main-nav a {
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .dropdown {
        display: flex;
        justify-content: center;
    }

    .dropdown-content {
        margin-top: 35px;
    }

    .grid-item {
        text-align: center;
        padding: 5px;
    }

}

/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 800px) {


    /*HEADER NAV*/
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


    #main-nav {
        justify-content: space-evenly;
        min-width: 50%;
        /*sikrer at menupunkterne ikke presses sammen*/
        margin: 0;
    }

    #main-nav a {
        margin: 0 .5em;
    }

    /*Dette fjerner burgermenu ikonet*/
    label {
        display: none;
    }

    /*Dette skubber menuen ud til højre ved at bruge al margin til højre for logoet*/
    #logo-burger {
        margin-right: auto;
    }

    /* intro video*/
    .intro-video {
        margin-top: 54px;
    }

    #img-soeren {
        margin-top: -30px;
        margin-left: 270px;
    }

    .flex-container-soeren {
        margin-left: 300px;
        margin-right: 100px;
        padding-left: 100px;
        border-radius: 100px;
    }

    .flex-container-mad {
        flex-direction: row;
        justify-content: center;
    }

    .flex-container-vin-information {
        max-height: 500px;
    }

    .flex-container-vin-information2 {
        max-height: 1000px;
    }

    #img-vine-information {
        max-width: 400px;
        max-height: 800px;
        border-radius: 20%;
    }

    .grid-container {
        display: grid;
        grid-gap: 10px;
        padding: 10px;
    }

    .grid-item {
        text-align: center;
        padding: 5px;
    }

    .item1 {
        grid-column: 2;
        grid-row: 1;
    }

    .item2 {
        grid-column: 1;
        grid-row: 2 / span 3;
    }

    .item3 {
        grid-column: 2;
        grid-row: 2;
    }

    .item4 {
        grid-column: 2;
        grid-row: 3;
    }

    .item5 {
        grid-column: 2;
        grid-row: 4;
    }

    .item6 {
        grid-column: 1 / span 2;
        grid-row: 5;
    }

    footer {
        flex-direction: row;
        justify-content: space-around
    }

}

/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {

    #grad-forside {
        height: 2400px;
    }

    /*NAVIGATION*/
    nav {
        flex-direction: row;
    }

    /* intro video*/
    .intro-video {
        margin-top: 55px;
    }

    .flex-container-vin-forside {
        flex-direction: row;
    }

    .flex-container-text1 {
        display: flex;
        text-align: left;
    }

    .flex-container-text2 {
        display: flex;
        text-align: left;
    }

    #img-vinmagere-forside {
        display: block;
        max-width: 520px;
        max-height: 360px;
        min-height: 360px;
        border-radius: 30px;
    }

    #img-soeren {
        margin-top: -30px;
        margin-left: 280px;
    }

    #img-smagkasser-forside {
        display: block;
        max-width: 520px;
        max-height: 360px;
        min-height: 360px;
        border-radius: 30px;
    }

    .flex-container-soeren {
        margin-left: 300px;
        margin-right: 400px;
        padding-left: 100px;
        border-radius: 100px;
    }

    #button-forside {
        margin-left: 50px;
    }

    #img-vine {
        max-width: 300px;
        max-height: 700px;
    }

}
